.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.navbar-title{
    color: #537299;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    margin: 0;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar-links a {
    text-decoration: none;
    color: #537299;
    font-size: 18px;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.active-link {
    color:black !important
}